[Unit]
Description=App Backend Service
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=<project_dir>
ExecStart=<gunicorn_path> \
          --bind <hostname>:<port> \
          --access-logfile - \
          --workers 3 \
          config.wsgi:application
